[submodule ".config/yazi/flavors/flexoki-dark.yazi"]
	path = .config/yazi/flavors/flexoki-dark.yazi
	url = https://github.com/gosxrgxx/flexoki-dark.yazi.git
[submodule ".local/share/fastfetch"]
	path = .local/share/fastfetch
	url = https://github.com/LierB/fastfetch
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
